body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Microsoft YaHei";
  overflow-x: hidden;
  color: #7C7C8C;
}

#progress {
  height: 2px;
  background-color: #FF494B;
  -webkit-animation: pulse 1s;
  -o-animation: pulse 1s;
  animation: pulse 1s;
  animation-fill-mode: forwards;
}

nav ul {
  margin: 4rem 0 0;
  padding: 0;
}
nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #EEF2F8;
  -webkit-box-shadow: 0 1px 4px #EEF2F8;
  -moz-box-shadow: 0 1px 4px #EEF2F8;
  box-shadow: 0 1px 4px #EEF2F8;
  color: #A1A7AF;
  height: 3rem;
  line-height: 3rem;
  z-index: 99;
}

section {
  padding: 0.5rem;
  background-color: #FAFAFA;
}

article {
  padding: 1rem;
}

footer {
  color: #A1A7AF;
  height: 4rem;
  background: white;
  padding: 0.5rem;
  border-top: 1px solid #EEF2F8;
  box-shadow: 0px -1px 4px #EEF2F8;
}
footer div {
  text-align: center;
  margin-top: 0.5rem;
}

article h1.title {
  margin: 0 0 0.5rem;
}
article h1.title a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}
article h1.title a:hover {
  color: #337ab7;
  text-decoration: none;
}
article div.author {
  margin: 0 0 0.5rem;
  color: #7C7C8C;
  font-size: 0.83rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  overflow: hidden;
}
article div.author i {
  font-size: 1rem;
  color: #7C7C8C;
  vertical-align: baseline;
  margin-left: 1.5rem;
}
article div .target {
  color: white;
  padding: 0 0.4rem;
  background-color: #FF494B;
  text-decoration: none;
  display: inline-block;
  min-width: 2.5rem;
  text-align: center;
}
article div .target a {
  color: white;
}
article div.content {
  margin: 1rem 0;
}
article div.footer {
  border-top: 2px solid #EEF2F8;
}
article div.footer a {
  text-decoration: none;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
  color: #FF494B;
  background-color: white;
  border: 1px solid #FF494B;
  border-radius: 0.2rem;
}
article div.footer a:hover {
  background-color: #FF494B;
  color: white;
}

nav {
  background-color: #2C2B3D;
}
nav li .blogName {
  color: white;
}
nav li .navLink, nav li .navLastLineLink {
  color: white;
}
nav li .navLink:hover, nav li .navLastLineLink:hover {
  color: #FF494B;
}
nav li .navLink:active, nav li .navLastLineLink:active {
  color: #FF494B;
}

.tools {
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  z-index: 100;
}
.tools ul {
  margin: 0;
  padding: 0;
}
.tools ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tools ul li div {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: white;
  background-color: #FF494B;
  border-radius: 0.2rem;
}
.tools ul li div:hover {
  cursor: pointer;
}
.tools ul li div i {
  font-size: 1rem;
}

@media screen and (max-width: 2560px) {
  .main {
    width: 100%;
    min-height: 100%;
    position: relative;
  }

  section {
    margin-left: 15rem;
  }

  footer {
    margin-left: 15rem;
  }

  #progress {
    margin-top: 0;
  }

  .share {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .main {
    width: 100%;
    min-height: 100%;
    position: relative;
  }

  section {
    margin-left: 6rem;
  }

  footer {
    margin-left: 6rem;
  }

  #progress {
    margin-top: 0;
  }

  .share {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .main {
    width: 100%;
    min-height: 100%;
    position: relative;
  }

  section {
    margin-left: 0rem;
  }

  footer {
    margin-left: 0rem;
  }

  #progress {
    margin-top: 3.1rem;
  }

  .share {
    display: none;
  }
}
@keyframes pulse {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.tag {
  display: inline-block;
  border-radius: 0.2rem;
  color: #FF494B;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid #FF494B;
  margin-bottom: 1rem;
  text-decoration: none;
  min-width: 3rem;
  text-align: center;
  margin-right: 1rem;
}
.tag:hover {
  text-decoration: none;
  background-color: #FF494B;
  color: white;
}

body.link .links a {
  display: inline-block;
  border-radius: 0.2rem;
  color: #FF494B;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid #FF494B;
  margin-bottom: 1rem;
  text-decoration: none;
  min-width: 3rem;
  text-align: center;
  margin-right: 1rem;
}
body.link .links a:hover {
  text-decoration: none;
  background-color: #FF494B;
  color: white;
}

.share {
  border-top: 1px solid #EEF2F8;
  box-shadow: 0px -1px 0px #EEF2F8;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
  margin-top: 1rem;
}
.share .page {
  width: 50%;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
  float: left;
}
.share .page a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid;
  border-radius: 0.2rem;
  color: #7C7C8C;
  margin-right: 1rem;
}
.share .shareItems {
  width: 50%;
  overflow: hidden;
  float: right;
  height: 4rem;
  line-height: 4rem;
  text-align: right;
}
.share .shareItems .share-item {
  display: inline;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.2rem;
  color: #7C7C8C !important;
  margin-left: 1rem;
  text-decoration: none;
}
.share .shareItems .share-item i {
  font-size: 1.1rem;
}

.page-nav {
  text-align: center;
}
.page-nav .pagination {
  display: inline-block;
  padding-left: 0;
}
.page-nav .pagination li {
  display: inline;
}
.page-nav .pagination li a, .page-nav .pagination li span {
  font-weight: bold;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-right: 0.5rem;
  line-height: 1.42857143;
  color: #FF494B;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 0 10px #ddd;
}
.page-nav .pagination li a:hover, .page-nav .pagination li a:focus, .page-nav .pagination li span:hover, .page-nav .pagination li span:focus {
  background-color: #FF494B;
  color: #fff;
}
.page-nav .pagination li.disabled a, .page-nav .pagination li.disabled span {
  color: #fff;
  background-color: #FF494B;
}
.page-nav .pagination li.disabled a:hover, .page-nav .pagination li.disabled a:focus, .page-nav .pagination li.disabled span:hover, .page-nav .pagination li.disabled span:focus {
  cursor: not-allowed;
}

p.more {
  display: none;
}

blockquote {
  margin: 10px 0 0;
  padding: 15px 20px;
  border-left: 5px solid #89c3eb;
  border-radius: 0 5px 5px 0;
  background-color: #f8f8f8;
}
blockquote p {
  margin: 0;
}

p > code {
  margin: 0 2px;
  padding: 4px 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  vertical-align: middle;
  font-size: 80%;
  color: #FF494B;
}

table {
  border-collapse: collapse;
  border: 1px solid #f0f0f0;
  border-spacing: 0;
}
table thead tr {
  background-color: #f7f7f7;
}
table thead tr th {
  border-right: 1px solid #f0f0f0;
  border-bottom: 2px solid #89c3eb;
  border-left-width: 0;
  border-top-width: 0;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  padding: 0 0.5rem;
}
table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
table tbody td {
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-left-width: 0;
  border-top-width: 0;
  text-align: left;
  line-height: 2rem;
  padding: 0 0.5rem;
}

/*# sourceMappingURL=theme.css.map */
